// plop-templates/component.hbs
import React from 'react';

const {{pascalCase name}} = () => {
  return (
    <div>
      {/* Your component code here */}
    </div>
  );
};

export default {{pascalCase name}};