<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbXzNPRJvCOKA5qyQT6JTdC-y79T_usAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>678550997588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.training.d19b</string>
	<key>PROJECT_ID</key>
	<string>d19b-8140a</string>
	<key>STORAGE_BUCKET</key>
	<string>d19b-8140a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678550997588:ios:2141dc49986036b3ecbbc1</string>
</dict>
</plist>